<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form  action="/flights" method="post">
      <label>Flight Name: </label>
      <input type="text" name="name" value="">
      <label>Status: </label>
      <input type="text" name="status" value="On-Time">
      <label>Departure Time: </label>
      <input type="datetime-local" name="departure-time" value="">
      <label>Departure City: </label>
      <select id="departure-city" name="departure-city">
        @foreach (var city in Model)
        {
          <option value="@city">@city.GetName()</option>
        }
      </select>
      <label>Arrival Time: </label>
      <input type="datetime-local" name="arrival-time" value="">
      <label>Arrival City: </label>
      <select id="arrival-city" name="arrival-city">
        @foreach (var city in Model)
        {
          <option value="@city">@city.GetName()</option>
        }
      </select>
      <button type="submit" name="button">Add Flight</button>
    </form>
      <a href="/cities"><button type="button" name="button">Select City</button></a>
      <a href="/flights"><button type="button" name="button">View Flights</button></a>
      <a href="/city/new"><button type="button" name="button">Add City</button></a>
  </body>
</html>
