<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
      @foreach(var city in Model)
      {
        <li><a href="/city/@city.GetId()">@city.GetName()</a></li>
      }

    </ul>

      <a href="/flights"><button type="button" name="button">View Flights</button></a>
      <a href="/city/new"><button type="button" name="button">Add City</button></a>
      <a href="/flight/new"><button type="button" name="button">Add Flights</button></a>
  </body>
</html>
